@media (max-width: 1158px) {

  /* Başlık- Navbar Tablet CSS düzenlemesini ve içerir*/
  .container-header {
  width: 100%;
  }

  .contact-list {
  flex-direction: column;
  gap: 12px;
  }

  /* İlk bölüm (Effective solutions) bölümünün Tablet CSS düzenlemesini içerir */

  .section-first-container {
  width: 100%;
  }

 /* İkinci Bölüm (Mission) bölümünün Tablet CSS düzenlemesini içerir */

  .section-two {
  padding: 96px 16px;
  }

  .section-two-container {
  width: 100%;
  padding: 0;
  }

  .section-two-icon-container {
  display: none;
  }

  .section-two-text-container {
  width: 356px;
  }

  .section-two-list {
  flex-wrap: wrap;
  width: 100%;
  max-width: 736px;
  }

 /* Üçüncü Bölüm (Our team) bölümünün Tabet CSS düzenlemesini içerir*/

  .section-three {
  padding: 0;
  }

  .section-three-container {
  padding: 96px 108px;
  width: 100%;
  }

  .section-three-list {
  flex-wrap: wrap;
  }

/* Dördüncü bölüm (Our Portfolio) Tablet CSS düzenlemesini içerir */

  .section-four {
  padding: 96px 12px;
  }
.section-four-list-item{
  width: calc((100% - 48px) / 2);
}
  .section-four-container {
  padding: 0;
  width: 100%;
  }

/* Footer bölümü Tablet CSS Düzenlemesini İçerir */

  .footer {
  padding: 0;
  }

  .footer-container {
  display: block;
  padding: 96px 108px;
  max-width: 100%;
  margin: auto;
  }

  .footer-text-container {
  margin: 0;
  }
  
  }

